

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
    
<table class="user-weekly-view-table">
    <thead>
        <tr>
            <th>Day of the Week</th>
            <th>Day Count</th>
            <th>Time of the Day</th>
            <th>Average Checked in Customer Ratio</th>
            <th>Average Ratio</th>
            <!-- Add delete button column -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userCalcEntity">
            <td>{{ user.dayOfWeek }}</td>
            <td>{{ user.dayCount }}</td>
            <td>{{ user.timeOfDay }}</td>
            <td>{{ user.avgCountCheckedInCustomer }}</td>
            <td>{{ user.avgOccupationRatio }}</td>
            <!-- Add your content for the delete button column -->
        </tr>
    </tbody>
</table>
