/* user-list.component.css */
/* Styling for the user list */
.app-chart {
    margin-top: 20px;
}

/* Styling for the user list table */
.app-chart{
    width: 100%;
    border-collapse: collapse;
}

/* Styling for table headers */
.app-chart th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Styling for table cells */
.app-chart td {
    border: 1px solid #ddd;
    padding: 10px;
}